.bookContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}
.bookCard {
  border: 1px solid black;
  width: 500px;
  padding: 10px;
  margin: 10px;
}

.bookCardImg {
  width: 400px;
  height: 550px;
}

#navBar {
  height: 150px;
  border: 1px solid black;
  margin: 5px;
  justify-items: center;
  align-content: center;
  background-color: lightpink;
}

a {
  font-size: 50px;
  margin: 20px;
}

.singleBookDetailsCard {
  justify-items: center;
}

.singleBookDetailsCard div {
  margin: 20px;
  padding: 25px;
  width: 600px;
  border: 1px solid black;
  display: grid;
}

.singleBookDetailsCard div button {
  width: 200px;
  justify-self: center;
}

#loginContainer, #registerContainer {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 25px;
}

#loginForm, #registerForm {
  background: lightgrey;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

.loginLabel, .loginInput, #loginBtn, .registerLabel, .registerInput, #registerBtn{
  font-size: 50px;
}

#loginBtn, #registerBtn {
  border-radius: 10px;
  width: 200px;
}

#accountContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#userAccountInfo {
  border: 1px solid black;
  padding: 10px;
  width: 500px;
  justify-items: center;
  border-radius: 10px;
  background-color: lightgrey;
}

#checkedOutBooks {
  background-color: lightskyblue;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid black;
  width: 500px;
  padding: 10px;
}

.userCheckedOutBook {
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}